*{
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.ng-scope{
    background: #f9f9f9;
}

.element{
    border-bottom: solid;
    border-top: solid;
    border-color: #c00000;
    border-width: 1px;
    padding: 0px;
    height: 100px;
    background: #f4fbfb;
    margin-left: -55px;
    margin-right: -15px;
   /* min-width:350px;*/
}
.tweet{
    height: auto;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #c00000;
    margin-right: 15px;
    margin-left: -25px;

}

.tweet h5 {
    color: #838385;
    display: inline;

}
.tweet p {
    display: inline;

}
.tweet div{
    margin-left: 60px;
}
.tweet .content{
    margin-bottom: 30px;
    margin-right: 130px;
}
.subscriber img{
    height: 50px;
    width: 50px;
    margin: 25px;
}
.subscriber p{
    color: #838385;
    display: inline;

}
.subscriber .subscriber-btns{
    float: right;
}
.date{
    margin-right: 20px;
    float: right;
}
.head{
    background: #f4fbfb;
    height: 150px;
    padding: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    /*min-width:350px;*/
}
.head-search{
    padding-bottom: 80px;
    background: #a0d8ec;
    border-bottom: solid;
    border-color: #c00000;
    border-width: 7px;
    height: 250px;
    margin-left: -15px;
    margin-right: -15px;

}
.head-search h2{
    margin: 80px;
}

.input-group{
    margin-top: 20px;
}

.btn-unsubscribe{
    background-color: #fce2b5;
    display: block;
    margin: 10px;
    width: 109px
}
.btn {
    box-sizing: border-box;
    border-radius: 0;
    transition: all .5s ease-in-out;
    font-family: "ACLineRegular", cursive;
}

.btn-unsubscribe:hover {
    background-color: #e09b3f;
    border: 1px solid #f5c576;
    transition: all .5s ease-in-out;
    color: white;
}

.btn-tweets{
    background: #afe6f0;
    display: block;
    margin: 10px;
    width: 109px;
}
.btn-tweets:hover{
    background-color: #5aaddf;
    border: 1px solid #AFE6F0;
    transition: all .5s ease-in-out;
    color: white;
}

.btn-hide{
border-radius: 50px;
    border: solid;
    border-width: 1px;
    margin-left: 15px;
    background: #697668;
}
.btn-subscribe {
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    width: 109px;
    background: #85f098;

}
.btn-subscribe:hover{
    background-color: #39b338;
    border: 1px solid #AFE6F0;
    transition: all .5s ease-in-out;
    color: white;
}
#subscribers{

    min-height:100px;

}

.windows8 {
    visibility: hidden;
    position: relative;
    width: 0px;
    height:0px;
    margin:auto;
    padding: 0px;
}

.windows8 .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(0,0,0);
    left:0px;
    top:0px;
    border-radius: 10px;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

#head-subscribers {
    position: relative;
    cursor: pointer;

}
#head-subscribers:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background-color:#c00000;
    content: "";
    transition: width 0.5s;
}
#head-subscribers:hover:after {
    width: 100%;
}
.tweet .btn-unsubscribe{
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    width: 109px;
}
.tweet-img{
    width: 50%;
    align-content: center;
    padding-left: 50px;
    margin-bottom: 30px;
}
.user-img{
    margin: 10px;
}